{% extends '::base.html.twig' %}

{% block body %}
<p>Name: {{ recruiter.companyName }}</p>
<p>Profile Id: {{ recruiter.id }}</p>
<p><a href="{{ path('gradually_job_recruiterjobmanager_index', {'id' : recruiter.id}) }}">Manage jobs</a></p>
{% endblock %}
