<div class="col-sm-12 col-md-8">
	<div class="block-flat">
		<div class="header">
			<h3>Your applications at a glance</h3>
		</div>
		<div class="content">
			<div class="tab-container">
				{% if hasApplications == false %}
					You haven't received any applications yet
				{% else %}
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#most-recent">Most recent</a></li>
					<li><a data-toggle="tab" href="#most-relevant">Most relevant</a></li>
					<li><a data-toggle="tab" href="#most-local">Most local</a></li>
				</ul>
				<div class="tab-content">
					<div id="most-recent" class="tab-pane active cont">
						<table class="no-border">
							<thead class="no-border">
								<tr>
									<th>Title</th>
									<th class="text-right">Status</th>
								</tr>
							</thead>
							<tbody class="no-border-y">
								{% for application in applications %}
								<tr>
									<td>{{application.job.title}}</td>
									<td class="text-right">
										{% if application.status == 'SENT' %}
											<p class="btn btn-info cursor-auto width-100-px">Pending</p>
										{% elseif application.status == 'DECLINED' %}
											<p class="btn btn-warning cursor-auto width-100-px">Declined</p>
										{% elseif application.status == 'SHORTLISTED' %}
											<p class="btn btn-success cursor-auto width-100-px">Shortlisted</p>	
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>						
					</div>
				</div>
				<a href="">View all of your applications</a>
				{% endif %}
			</div>		
		</div>
	</div>
</div>