<div id="graduate-welcome-wizard" class="modal fade" style="display: none;">
	<div class="modal-dialog large-width">
        <div class="modal-content">
            <div class="modal-header">
              	<h3>Welcome to Juru!</h3>
            </div>
            <div class="modal-body">
				<div class="row wizard-row">
    				<div class="col-md-12 fuelux">
        				<div class="block-wizard">
            				<div id="wizard1" class="wizard wizard-ux">
                				<ul class="steps">
                    				<li data-target="#step1-graduate-welcome" class="active">
                        				Welcome
                        				<span class="chevron"></span>
                    				</li>
                    				<li data-target="#step2-graduate-welcome">
                        				Job preferences
                        				<span class="chevron"></span>
                    				</li>
                    				<li data-target="#step3-graduate-welcome">
                        				Location
                        				<span class="chevron"></span>
                    				</li>
                    				<li data-target="#step4-graduate-welcome">
                        				Notifications
                        				<span class="chevron"></span>
                    				</li>
                    				<li data-target="#step5-graduate-welcome">
                        				Finish
                        				<span class="chevron"></span>
                    				</li>
                				</ul>
                				<div class="actions">
                    				<button type="button" class="btn btn-xs btn-prev btn-primary"> 
                        				<i class="icon-arrow-left"></i>
                        				Prev
                    				</button>
                    				<button type="button" class="btn btn-xs btn-next btn-primary" data-last="Finish">
                        				Next
                        				<i class="icon-arrow-right"></i>
                    				</button>
                				</div>
            				</div>
            				<div class="step-content">
                    				<div id="step1-graduate-welcome" class="step-pane active">
                                        <div class="form-group">
                                                <p>Here at Juru we are committed to finding jobs that best suit your requirements.</p>
                                                <p>By taking 30 seconds to tell us about the kind of jobs that you are looking for, we can send you instant notification, either by e-mail or text, when job matches are posted.</p>
                                        </div>
                        				<div class="form-group">
                            				<button type="button" data-wizard="#wizard1" class="btn btn-primary wizard-next">
                                				Get started<i class="fa fa-caret-right"></i>
                            				</button>
                        				</div>
                    				</div>
                    				<div id="step2-graduate-welcome" class="step-pane">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <h6>Please tell us the job title of the job that you are looking for. Try to be as specific as you can, for example, 'Project manager' or 'Credit controller'.</h6>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button id="another-jobtitle" class="btn btn-info">Add another job title?</button>
                                            </div>
                                        </div>
                                        <div id="add-jobtitle-container">
                                        {{ form_start(jTTForm, {attr:{'id':'add-jobtitle-form', 'role':'form'}}) }}
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="input-group max-width-300">
                                                        {{ form_widget(jTTForm.title, {attr:{'class':'form-control', 'placeholder':'Job title'}})}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="input-group max-width-300">
                                                        <button type="button" id="new-jobtitle" class="btn btn-success">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                        				{{ form_end(jTTForm) }}
                                        </div>
                        				<div class="form-group">
                            				<button type="button" data-wizard="#wizard1" class="btn btn-primary wizard-previous margin-left-15">
                                				<i class="fa fa-caret-left"></i> Previous 
                            				</button>
                            				<button type="button" data-wizard="#wizard1" class="btn btn-primary wizard-next">
                                				Next Step <i class="fa fa-caret-right"></i>
                            				</button>
                        				</div>
                    				</div>
                    				<div id="step3-graduate-welcome" class="step-pane">
                        				Skills
                        				<div class="form-group">
                            				<button type="button" data-wizard="#wizard1" class="btn btn-primary wizard-previous margin-left-15">
                                				<i class="fa fa-caret-left"></i> Previous 
                            				</button>
                            				<button type="button" data-wizard="#wizard1" class="btn btn-primary wizard-next">
                                				Next Step <i class="fa fa-caret-right"></i>
                            				</button>
                        				</div>
                    				</div>
                    				<div id="step4-graduate-welcome" class="step-pane">
                        				Notifications
                        				<div class="form-group">
                            				<button type="button" data-wizard="#wizard1" class="btn btn-primary wizard-previous margin-left-15">
                                				<i class="fa fa-caret-left"></i> Previous 
                            				</button>
                            				<button type="button" data-wizard="#wizard1" class="btn btn-primary wizard-next">
                                				Next Step <i class="fa fa-caret-right"></i>
                            				</button>
                        				</div>
                    				</div>
                    				<div id="step5-graduate-welcome" class="step-pane">
                        				Finish
                        				<div class="form-group">
                            				<button type="button" data-wizard="#wizard1" class="btn btn-primary wizard-previous margin-left-15">
                                				<i class="fa fa-caret-left"></i> Previous 
                            				</button>
                            				<button type="button" data-wizard="#wizard1" class="btn btn-success wizard-next">
                                				Finish! <i class="fa fa-caret-right"></i>
                            				</button>
                        				</div>
                    				</div>                      
            				</div>
        				</div>
    				</div>
				</div>
            </div>  
          </div>
        </div>
      </div>

<script>
	$('#graduate-welcome-wizard').modal('show');
    $('#another-jobtitle').hide();
    $('#another-jobtitle').on('click', function(){

        $('#add-jobtitle-container').fadeIn(100);


    });


    $('#new-jobtitle').on('click', function () {
        $('#another-jobtitle').fadeIn('slow');
        $('#add-jobtitle-container').hide();
        $('#degree-yes').html('Add another degree');
        url = 'graduates/dashboard';
        data = $('#add-jobtitle-form').serialize();
        $.post(
            url,
            data,
            function(results){
                console.log(results.success);
            }
        );
    });
</script>