{% extends '::base.html.twig' %}

{% block body %}
    {% if recruiter is not null %}
        {{recruiter.user.companyName}}
        <p>Remaining posting credits: {{recruiter.postingCredits}}</p>
        <p>Remaining search credits: {{recruiter.searchCredits}}</p>

    	<form action="https://test.sagepay.com/Simulator/VSPFormGateWay.asp" method="post" name="form">
	    <input id="VPSProtocol" type="hidden" value="2.23" name="VPSProtocol"></input>
	    <input id="Vendor" type="hidden" value="Gradually" name="Vendor"></input>
	    <input id="TxType" type="hidden" value="PAYMENT" name="TxType"></input>
	    <input id="Crypt" type="hidden" value="{{crypt}}" name="Crypt"></input>
	    <button id="form_save" name="save" type="submit">Purchase</button>
	</form>
    {% endif %}
{% endblock %}
