{% extends '::base.html.twig' %}

{% block body %}
<h3>Choose a purchase option</h3>
<a href="">1 job post</a><br>
<a href="">5 job posts</a><br>
<a href="">1 graduate search</a><br>
<a href="">5 graduate searches</a><br>
<a href="">1 job post and 1 graduate search</a><br>
<a href="">5 job posts and 5 graduate searches</a><br>
{% endblock %}
