{% extends '::base.html.twig' %}

{% block body %}
<h3>Choose a purchase option</h3>
{% for option in options %}
    <a href="{{ path('gradually_purchase_default_confirm', {'id' : option.id}) }}">{{option.reference}}</a><br>
{% endfor %}
{% endblock %}
