	<div class="jumbotron jumbotron-home under-navbar">
		<img class="img-responsive" src="{{asset('images/jumbotron-home-1.jpg')}}" />
		<div class="container jumbotron-inner">
			<div class="row">
				<div class="col-md-6 jumbotron-inner-section">
					<h3 class="white-text right-align">Get your graduate profile noticed by recruiters</h3>
					<ul class="white-text no-bullets right-align">
						<li>Create your graduate profile</li>
						<li>Showcase your qualifications and get noticed</li>
						<li>Apply for graduate jobs</li>
					</ul>
					<p class="right-align">
						<a class="btn btn-primary" href="{{path('gradually_graduate_default_new')}}">Find a job</a>
					</p>
				</div>
				<div class="col-md-6 jumbotron-inner-section">
					<h3 class="white-text">Find the ideal graduate for your business</h3>
					<ul class="white-text no-bullets">
						<li>Create your business profile</li>
						<li>Post jobs to the graduate job board</li>
						<li>Search for graduates that fit your needs</li>
					</ul>			
					<p>
						<a class="btn btn-primary" href="{{path('gradually_graduate_default_new')}}">Find a graduate</a>
					</p>		
				</div>
			</div>
		</div>
	</div>