<div class="side-user">
    <div class="avatar">
        <img src="{{asset(imagePath)}}" alt="Avatar" width="50px" height="50px" />
    </div>
    <div class="info">
        <ul class="list-unstyled white-text">
            <li>Job posts remaining: {{app.user.postingCredits}}</li>
            <li>Premium posts remaining: {{app.user.premiumCredits}}</li>
            <li>Search access: {% if app.user.searchCredits > 1 %}Yes{% else %}No{% endif %}</li>
        </ul>

    </div>
</div>
<ul class="cl-vnavigation">
    <li>
        <a href="{{path('gradually_home_default_index')}}">
            <i class="fa fa-home"></i>
            <span>Dashboard</span>
        </a>
    </li>
</ul>