{% extends '::base.html.twig' %}

{% block content %}
<div class="cl-mcont col-md-10 col-md-offset-1">
  	<div class="block-flat">
    	<div class="header">
      		<h3>{{job.title}}</h3>
			<p><span class="bold">Applications:</span> {{applicationCount}}</p>
    	</div>
    	<div class="content">
			<p>{{job.description}}</p>
			<a class="btn btn-primary" href="{{path('gradually_job_default_apply',{'id':job.id})}}">	
				Apply
			</a>
		</div>
	</div>
</div>
{% endblock %}