{% extends '::base.html.twig' %}

{% block body %}
	<div class="container under-navbar">
		<h2>{{job.title}}</h2>
		<p>{{job.description}}</p>
		<a class="btn btn-primary" href="{{ path('gradually_job_default_apply', {'id' : job.id}) }}">Apply</a>
		{% for application in applications %}
			<p>{{application.graduate.firstname}}</p>
		{% endfor %}
	</div>
{% endblock %}