{% extends "::base.html.twig" %}

{% block body %}
<div class="container under-navbar">
	<a class="btn btn-primary" href="{{path('gradually_graduate_default_search')}}">Search</a>
</div>
{% endblock %}
