{% extends "::base.html.twig" %}

{% block body %}
<div class="container under-navbar">
	<a class="btn btn-primary" href="{{path('gradually_search_graduate_index')}}">Search</a>
</div>
{% endblock %}
