<div class="jumbotron juru-jumbotron col-md-12 background-color-very-light-purple text-align-center color-white">
	<h1 class="logo-font-white">Juru<span class="logo-font-purple">.</span></h1>
	<h2 class="margin-top-60 jumbotron-h2">Online CV and Portfolio platform</h2>

	<h2 class="margin-top-60">Create. Edit. Share.</h2>

	<button class="btn btn-primary btn-xl button-1 margin-top-30" data-toggle="modal" data-target="#md-find-a-job" type="button">
		START NOW
	</button>
	<a class="btn btn-default btn-xl margin-top-30 button-2" href="{{path('gradually_user_default_login')}}">Log in</a>
</div>
<div class="jumbotron col-md-12 text-align-center">
	<h2 class="jumbotron-h2">How it works</h2>
	<div class="row">
		<div class="col-sm-4 features-box">
			<div class="features-box-icon">
				<i class="fa fa-user"></i>
			</div>
			<h3>Sign Up</h3>
			<p class="how-it-works">Create your free account in 20 seconds. Begin by clicking
				<a href="#" data-toggle="modal" data-target="#md-find-a-job">
					here
				</a>
			</p>
		</div>
		<div class="col-sm-4 features-box">
			<div class="features-box-icon">
				<i class="fa fa-pencil"></i>
			</div>
			<h3>Create your CV</h3>
			<p class="how-it-works">Add work experience, qualifications, and skills, and let Juru create your CV page.</p>
		</div>
		<div class="col-sm-4 features-box">
			<div class="features-box-icon">
				<i class="fa fa-share"></i>
			</div>
			<h3>Share</h3>
			<p class="how-it-works">No more uploading CV's to recruiter sites, just share your Juru CV instead.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 features-box">
			<div class="features-box-icon">
				<i class="fa fa-check"></i>
			</div>
			<h3>Simple</h3>
			<p class="how-it-works">No more guessing what to put on your CV.</p>
		</div>
		<div class="col-sm-4 features-box">
			<div class="features-box-icon">
				<i class="fa fa-thumbs-up"></i>
			</div>
			<h3>Hassle free</h3>
			<p class="how-it-works">No more document formatting in text editors.</p>
		</div>
		<div class="col-sm-4 features-box">
			<div class="features-box-icon">
				<i class="fa fa-lock"></i>
			</div>
			<h3>Full control</h3>
			<p class="how-it-works">You decide who you want to share your CV with.</p>
		</div>
	</div>
</div>

<div class="jumbotron juru-jumbotron col-md-12 background-color-very-light-purple text-align-center color-white">
	<h2 class="jumbotron-h2">Update and share your CV from anywhere in the world.</h2>
	<div class="row margin-top-60">
		<div class="col-md-6 single-feature-box">
			<img src="{{asset('images/jumbograb.jpg')}}" width="500px" height="400px" />
		</div>
		<div class="col-md-6 single-feature-box">
			<div class="single-feature-box-text">
				<div class="single-feature-box-text-icon">
					<i class="fa fa-graduation-cap"></i>
				</div>
				<h3>Showcase your portfolio</h3>
				<div class="single-feature-box-text-description">
					Use our portfolio tool to showcase work items on your portfolio pages.
				</div>
			</div>
		</div>
	</div>
</div>

<!-- new CV modal -->
<div id="md-find-a-job" class="modal fade" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="close">x</a>
                <h3>Start building your CV.</h3>
            </div>
            <div class="modal-body form">
				{{render(controller('GraduallyGraduateBundle:Default:new'))}}
	    	</div>
        </div>
    </div>
</div>